services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo
    volumes:
      - ./database/volumes:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  postgres-data:
